@font-face {
    font-family: 'TheFishermans';
    src: url('assets/TheFishermansNeighborRegular.ttf') format('truetype');
}

#canvas {
    margin: 0px;
}

#counter {
    font-size: 100px;
    font-weight: 600;
    font-family: 'TheFishermans';
    transition: .2s;
}

h1 {
    font-family: 'TheFishermans';
}

.subtitle {
    font-size: small;
}

.text {
    font-family: 'TheFishermans';
    margin: 0;
}

.webcam-container {
    margin: 20px;
    width: 404px;
    height: 404px;
    background-color: azure;
    border-style: double;
}

.monitors {
    padding: 1.5em;
}

.time {
    font-family: 'TheFishermans';
    font-size: small;
}

#countdown {
    font-size: 48px;
    font-weight: bold;
}

#label-container {
    display: none;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}

th {
    padding: 20px;
}

td {
    padding: 10px 0px 5px 10px
}

.even-list-item {
    background-color: #fafafa;
}

.odd-list-item {
    background-color: #ffffff;
}